<!DOCTYPE html>
%html
  %head
    %title Would You
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta(name='viewport' content='width=device-width, intial-scale=1.0')
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-toggle='collapse' data-target='.nav-collapse')
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href='#') Would You?
          .nav-collapse
            %ul.nav.pull-right
              - if person_signed_in?
                %li= link_to('Logout', destroy_person_session_path, :method => :delete)
              - else
                %li= link_to('Login', new_person_session_path)

    .container-fluid
      .row
        .span9
          =yield
        .span3
          %h2 About us
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
